#homepage {
    background-color: darkred;
    border: 2px solid black;
    color: ivory;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    float: right;
  }
  
  img {
      display: block;
      border: 2px darkred ridge;
      float: right;
   }
  
  body {
      background-color: ivory;
   }
  
   .column1 {
    float: left;
    position:absolute;
    top: 228px;
    width: 22%;
    height: 30%;
    background: ivory;
    border: 3px solid maroon;
    padding: 12px;
  }
  
  nav a {
    display: block;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 10px;
    background: ivory;
    border: 2px solid darkred;
  }
  
  nav a:hover {
    background-color: brown;
    color: ivory;
  }
  
  nav a.active {
    background-color: maroon;
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0px;
  }
  aside {
    width: 24%;
    float: right;
    position: absolute;
    top: 70%;
    padding-left: 3px;
    margin-left: 2px;
    font: timesnewroman 13pt;
    background-color: ivory;
    border: 2px solid darkred;
  }
  
  .column2 {
    display: container;
    position: relative;
    float: right;
    width: 60%;
    height: 90%;
    top: 20px;
    font: 18pt; 
    font-weight: 600px;
    color: darkred;
  }
  
  p {
    font-size: 13pt;
  }
  
  .column2 li {
    font-size: 13pt;
  }
  
  input {
    display: block;
    float: right;
    font-size: 12pt;
    border: 1px solid black;
    
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .contact-aside {
    position: relative;
    width: 252px;
    float: right;
  }
  
  div .contact-aside {
      text-align: center;
  
  }
  
  
  .text {
      text-align: center;
      color: black;
      font-size: 16px;
      position: absolute;
      float: right;
      top: 50%;
      left: 50%;
  }
  
  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
      background-color: darkred;
  }
  
  
   .contact-aside:hover:hover .overlay {
    opacity: 1;
  }
  
  p {
      font-weight: bold;
      color: darkred;
      font-size: 12pt;
      font-family: 'Times New Roman', Times, serif;
  }
  
  ul {
      color: ivory;
  }
  
  li {
      font-weight: bold;
      color: ivory;
      font-size: 12pt;
      font-family: 'Times New Roman', Times, serif;
  }
  
  section {
      background-color: ivory;
      float: right;
      border-top: 2px;
   }
