* {
  box-sizing: border-box; /* Corrected selector */
}

html {
  background-color: ivory;
}

body {
  font-family: 'Times New Roman', serif; /* Added proper font-family syntax */
}

/* Style the header */
header {
  background-color: darkred;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  color: white;
}

h3 {
  background-color: ivory;
  color: darkred;
}

/* Create two columns/boxes that float next to each other */
.column1 {
  float: left;
  position: absolute;
  top: 208px;
  width: 24%;
  height: 30%;
  background: ivory;
  border: 3px solid maroon;
  padding: 10px;
  
}

nav a {
  display: block;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 10px;
  background: ivory;
  border: 2px solid darkred;
}

nav a:hover {
  background-color: brown;
  color: ivory;
}

nav a.active {
  background-color: maroon;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

.column2 {
  display: flexbox; 
  position: relative;
  float: right;
  width: 60%;
  height: 35%;
  top: 0px;
  font-size: 18pt; 
  font-weight: 300; 
  color: darkred;
}

p {
  font-size: 13pt;
}

.column2 li {
  font-size: 13pt;
}

input {
  display: block;
  float: right;
  font-size: 12pt;
  border: 1px solid black;
  margin-left: 10px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.row {
	display: flex;
    float: right;
    margin: auto;
    padding-right: 210px;
    padding-top: 15px;
}

.column img {
  display: block;
  float: right;
  border: 2px solid darkred;
  height: 200px;
}

.desc {
  text-align: center; /* Align descriptions to center */
  font-size: 12pt; /* Adjust font size for descriptions */
}

table {
  width: 100%;
  margin-right: 20px;
  background-color: ivory;
  border: 3px darkred solid;
  color: darkred;
  border-bottom: 5px;
}

th {
  border-top: 5px;
  text-decoration: underline;
  padding: 10px;
  padding-left: 10px;
  border: 3px darkred ridge;
}

tr {
  padding-bottom: 10px;
}

td {
  border: 3px darkred ridge;
  padding: 2px;
  font-size: 14pt;
  font-weight: normal;
  padding-bottom: 2px;
  height: 15px;
}

aside {
  position: absolute;
  width: 24%;
  float: left;
  bottom: 200px;
  padding-left: 5px;
  margin-left: 2px;
  font: 'Times New Roman', serif; 
  font-size: 13pt;
  background-color: ivory;
  border: 2px solid darkred;
}

.column {
  float: right;
  padding: 0px;
  border: 2px solid black;
  margin-right: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  background-color: ivory;
  bottom: -2px;
  text-align: left;
  position: absolute;
  clear: both;
}
