css * {
  box-sizing: border-box;
}

html {
  background-color: ivory;
}

body {
  font-family: TimesNewRoman;
}

/* Style the header */
header {
  background-color: darkred;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  color: white;
}

h3 {
  background-color: ivory;
  color: darkred;
}
	

/* Create two columns/boxes that floats next to each other */
.column1 {
  float: left;
  position:absolute;
  top: 230px;
  left: -3px;
  width: 27%;
  height: 25%;
  background: ivory;
  border: 3px solid maroon;
  padding: 15px;
  padding-bottom: 20px; 
}

nav a {
  display: block;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 10px;
  background: ivory;
  border: 2px solid darkred;
}

nav a:hover {
  background-color: brown;
  color: ivory;
}

nav a.active {
  background-color: maroon;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

.column2 {
  display: container;
  position: relative;
  float: right;
  width: 70%;
  height: 90%;
  font: 18pt; 
  font-weight: 600px;
  color: darkred;
}

input {
  display: block;
  float: left;
  font-size: 12pt;
  border: 1px solid black;
  
}

section::after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  float: none;
  justify-content: space-evenly;
  border: 2px solid darkred;
}


footer {
  border: 1px darkred solid;
  background-color: ivory;
  bottom: -2px;
  text-align: left;
  color: darkred;
  position: fixed;
  clear: both;
}
