css * {
  box-sizing: border-box;
}

html {
  background-color: ivory;
}

body {
  font-family: TimesNewRoman;
}

/* Style the header */
header {
  background-color: darkred;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  color: white;
}

h3 {
  background-color: ivory;
  color: darkred;
}
	

/* Create two columns/boxes that floats next to each other */
.column1 {
  float: left;
  position: relative;
  top: 228px;
  width: 22%;
  height: 30%;
  background: ivory;
  border: 3px solid maroon;
  padding: 12px;
}

nav a {
  display: block;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 10px;
  background: ivory;
  border: 2px solid darkred;
}

nav a:hover {
  background-color: brown;
  color: ivory;
}

nav a.active {
  background-color: maroon;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

.column2 {
  display: container;
  position: absolute;
  float: right;
  width: 60%;
  height: 90%;
  top: 20px;
  font: 18pt; 
  font-weight: 600px;
  color: darkred;
}

p {
  font-size: 13pt;
}

.column2 li {
  font-size: 13pt;
}

input {
  display: block;
  float: right;
  font-size: 12pt;
  border: 1px solid black;
  
}

#idform input {
	display: block;
  	float: none;
  	font-size: 12pt;
  	border: 1px solid black;

section::after {
  content: "";
  display: table;
  clear: both;
}

aside {
  width: 24%;
  float: left;
  position: absolute;
  top: 70%;
  padding-left: 3px;
  margin-left: 2px;
  font: timesnewroman 13pt;
  background-color: ivory;
  border: 2px solid darkred;
}

#idform {
  display: container;
  float: left;
  width: 20%;
  font: 18pt; 
  font-weight: 600px;
  color: darkred;
}

#contact-aside {
  position: relative;
  float: right;
  color:ivory
}

div .contact-aside {
    text-align: center;

}


.text {
    text-align: center;
    color: black;
    font-size: 16px;
    position: absolute;
    float: right;
    top: 50%;
    left: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: darkred;
}


#contact-aside:hover:hover .overlay {
  opacity: 1;
}

img {
  display: block;
  float: none;
  justify-content: space-evenly;
  border: 2px solid darkred;
}


footer {
  background-color: ivory;
  bottom: -2px;
  text-align: left;
  color: darkred;
  clear: both;
}